li > button {
    background-color: rgb(194, 0, 0);
    color: white;
    padding: 5px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid rgb(98, 98, 98)
}

li > button:hover {
    color:bisque;
    background-color: rgb(255, 71, 71);

}

#bledy {
    margin-bottom: 10px;
    height: 50px;
}

#bledy .waga0 {
    background-color: #aaa;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#bledy .waga2 {
    background-color: rgb(207, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
} 

#wykres {
    height: 90px;
}